*
{
    vanilla_white: #fdfaf0;
    dark_grey: #3d3d3d;
    see_through_dark_grey: rgb(77, 77, 77, 0.75);
    remove_red: rgb(255, 31, 31, 0.75);
    edit_blue: rgb(30, 144, 255, 0.75);
}

.transparent-title-pane
{
    -fx-background: TRANSPARENT;
    -fx-border-color: TRANSPARENT;

    /* header */
    -fx-text-fill: vanilla_white;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
}

.transparent-title-pane > .title
{
    /* panel */
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: dark_grey;
}

.transparent-scroll-pane
{
    -fx-background: TRANSPARENT;
    -fx-background-color: TRANSPARENT;
}

.miniature-view-text
{
    -fx-font-style: normal;
    -fx-font-weight: bolder;
    -fx-fill: vanilla_white;
}

.listing-edit-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: edit_blue;
    -fx-background-radius: 0 15 0 0;
}

.listing-remove-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: remove_red;
    -fx-background-radius: 0 0 15 0;
}

.listing-unsubscribe-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: remove_red;
    -fx-background-radius: 0 0 15 0;
}

.listing-subscribe-no-new-listings
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: see_through_dark_grey;
    -fx-background-radius: 0 15 0 0;
}

.listing-subscribe-new-listings
{
     /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: edit_blue;
    -fx-background-radius: 0 15 0 0;
}

