*
{
    vanilla_white: #fdfaf0;
    dark_grey: #3d3d3d;
}

.transparent-title-pane
{
    -fx-background: TRANSPARENT;
    -fx-border-color: TRANSPARENT;

    /* header */
    -fx-text-fill: vanilla_white;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
}

.transparent-title-pane > .title
{
    /* panel */
    -fx-background-radius: 5 5 5 5;
    -fx-background-color: dark_grey;
}

.transparent-scroll-pane
{
    -fx-background: TRANSPARENT;
    -fx-background-color: TRANSPARENT;
}

.miniature-view-text
{
    -fx-font-style: normal;
    -fx-font-weight: bolder;
    -fx-fill: vanilla_white;
}

.listing-edit-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: #1e90ff;
    -fx-background-radius: 0 15 0 0;
    -fx-fill: #1e90ff;
}

.listing-remove-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: #ff1f1f;
    -fx-background-radius: 0 0 15 0;
    -fx-fill: #1e90ff;
}

