*
{
    color_one: #20A4F3;
    color_two: #3d3d3d;
    color_three: #4d4d4d;
}

.bar-color-background
{
    -fx-background-color: color_one;
}

.navigation-shop-button
{
    -fx-fill: color_one;
    -fx-stroke: color_two;
}

.navigation-sell-button
{
    -fx-fill: color_one;
    -fx-stroke: color_two;
}

.navigation-account-button
{
    -fx-fill: color_one;
    -fx-stroke: color_two;
}
.navigation-text-input-info{
    -fx-text-fill: #000000;
    -fx-background-radius: 15;
    -fx-background-color:#4862b8;
     -fx-stroke: #FFFFFF;
     -fx-stroke-width: 10px;

}
navigation-login-button{
 -fx-background-color:rgba(70, 95, 187, 0.7);

}