*
{
    white: #F6F6F6;
    dark_gray: rgb(77,77,77,0.75);
}

.search-bar
{
    -fx-background-radius: 20;
}

.section-headers
{
    -fx-font-size: 25px;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
}
.subscription-book-annons-background{
      -fx-background-radius: 15;
      -fx-background-color: dark_gray;
}

.listing-miniature-background{
    -fx-background-radius: 15;
    -fx-background-color: dark_gray;
}

.listing-miniature-text{
    -fx-fill: white;
}
