*
{
    white: #F6F6F6;
    vanilla_white: #fdfaf0;
    dark_gray: rgb(61,61,61,0.75);
    remove_red: rgb(255, 31, 31, 1);
    edit_blue: rgb(30, 144, 255, 1);
}

.search-bar
{
    -fx-background-radius: 20;
}

.section-headers
{
    -fx-font-size: 25px;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
}
.subscription-book-annons-background{
      -fx-background-radius: 15;
      -fx-background-color: dark_gray;
}

.listing-miniature-background{
    -fx-background-radius: 15;
    -fx-background-color: dark_gray;
}

.listing-miniature-text{
    -fx-fill: white;
}

.book-unsubscribe-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: remove_red;
    -fx-background-radius: 15 15 15 15;
}

.book-subscribe-button
{
    /* text */
    -fx-text-fill: vanilla_white;

    /* button */
    -fx-background-color: edit_blue;
    -fx-background-radius: 15 15 15 15;
}
