*
{

}

.search-bar
{
    -fx-background-radius: 20;
}

.section-headers
{
    -fx-font-size: 25px;
    -fx-font-style: normal;
    -fx-font-weight: bolder;
}
.subscription-book-annons-background{
      -fx-background-radius: 15;
      -fx-background-color:#C4C4C4;
}